//Variables
$medidaPicture: 445;
$padding: 10px;
$margin: 5px;
$temaPicture: food;
$color: black;

//Mixin while
@mixin chamaFood ($contador,$numerototalfotos) {
 
    @while $contador < $numerototalfotos {
    
        .picture-#{$contador} {
         background: url('http://lorempixel.com/#{$medidaPicture}/#{$medidaPicture}/#{$temaPicture}/#{$contador}');
    }

    $contador: $contador + 1;

    }
}


//Regras 
.pictures {
    .picture {
        background-color: black;
        background-repeat: no-repeat;
        width: #{$medidaPicture}px;
        height: #{$medidaPicture}px;
    }
}

@include chamaFood(1,10);